html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  vertical-align: baseline;
}

/* CSS declarations go here */
body {
    margin: auto;
    line-height: 1.5;
}

.description {
    font-size: 1.2em;
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

.remove-queue-item {
  float: left;
}

/** Bathroom Panel **/
.bathroom-item {
   margin-right: -30px;
   border-top: 1px solid #777;
   border-collapse: collapse;
}
.bathroom-panel {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-right: -15px;
}

.bathroom-panel-header {
  margin: 0;
  padding: 0.5em 0.25em;
  height: 100%;
}

.bathroom-panel-body {

}

.active.bathroom-panel-header {
  background-color: #EEE;
}
