h2 {
  font-weight: 600;
}

.register {
  color: #3e4040;
}

.login-header {
  font-size: 120px;
  font-variant: normal;
  font-family: serif;
  text-shadow: 4px 3px 0px white;
}
html, body {
  color: #3e4040;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  vertical-align: baseline;
}

.paragraph-box {
  background-color: rgba(255, 255, 255, 0.9);
  height: 850px;
}

.about-us-header {
  font-size: 100px;
  margin-top: 100px;
}


.header-hyper {
  text-decoration: none;
}

.header-hyper:active {
  text-decoration: none;
}

.header-hyper:hover {
  text-decoration: none;
}

.about-container {
  position: absolute;
  top: 0px;
  text-align: center;
  margin-left: 15%;
}


.login-elt {
    background-image: url("https://elevateyourspace.files.wordpress.com/2012/10/screen-shot-2012-10-31-at-9-49-48-am.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center center;
    padding: 100px 0px 100px 0px;
}

.hp {
  padding: 1em;
  margin: 30px 0px 30px 0px;

}

#logout-button:active {
  background-color: #337ab7;
}

#login-button:active {
  background-color: #337ab7;
}

.form-control:hover {
  background-color:#f2f2f2;
}

.prof-container {
  padding: 100px;
  margin: 100px;
}

p {
  color: #3e4040;
}

a {
  color: #3e4040;
  text-decoration: none;
}

#potty-logo {
  position: relative;
  text-align: center;
  text-decoration: none;
}

#potty-logo:active {
  text-decoration: none;
}

#potty-logo:hover {
  text-decoration: none;
}

.list-item {
  list-style: none;
}

.list-item:hover {
  color: black;
}


.potty-header {
  font-size: 42px;
  line-height: 54px;
  color: #3e4040;
  margin: 15px 0px;
  font-weight: normal;
}
